certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fastapi==0.63.0
filelock==3.0.12
idna==2.10
importlib-metadata==3.10.1
joblib==1.0.1
numpy==1.20.2
packaging==20.9
pydantic==1.8.1
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.44
six==1.15.0
starlette==0.13.6
tokenizers==0.5.2
torch==1.8.1
tqdm==4.60.0
transformers==2.8.0
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1
gdown==3.12.2
pytest==6.2.3